.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 80px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header__center > input {
  border: none;
  width: 250px;
  outline-width: 0;
  padding: 0 10px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

@media (max-width: 710px) {
  .header__icon {
    margin-left: 5px;
  }

  .header__right {
    margin-right: 5px;
  }

  .header__center,
  .header__icon,
  .header__right {
    flex: 1;
  }
}

@media (max-width: 590px) {
  .header__right {
    margin-right: 5px;
    width: 10vw;
    justify-content: space-around;
  }
  .header__right > p {
    display: none;
  }
}
